# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
node_modules/

# Django stuff
*.log
db.sqlite3
/media/
staticfiles/

# IDEs & editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
