<div class="bg-white shadow-md border card border-gray-200 w-full ">
    <div class="card-body">
        <h2 class="text-2xl">Create new survey</h2>
        <label for="input" class="text-gray-500">survey name</label>
        <input type="text"
               id="input"
               placeholder="e.g. Customer Satisfaction"
               name="survey_name"
               class="input  input-primary" />
        <label for="input" class="text-gray-500 mt-2.5 ">Description</label>
        <textarea id="input"
                  name="survey_description"
                  class="textarea textarea-primary w-full"
                  placeholder="e.g. This survey is about customer satisfaction."></textarea>
    </div>
</div>
