{% load static %}
<div class="bg-white shadow-xs card border-gray-200 w-full border-3 border-dashed"
     id="question_container_add"
     :class="{ 'border-primary': isDragging }">
     <div class="card-body p-10 flex items-center justify-center space-y-4"
          @dragover.prevent
          :class="{ 'opacity-50': isDragging }"
          hx-post="{% url 'add_question' %}"
          hx-trigger="add-question"
          @drop.prevent="$el._questionType = event.dataTransfer.getData('text/plain');
                         incrementTotalForms();
                         htmx.trigger($el, 'add-question')"
          hx-target="#target_question"
          hx-swap="beforebegin"
          hx-vals="js:{ question_type: this._questionType,  question_count_position: document.querySelector('#id_questions-TOTAL_FORMS').value }">
          <img src="{% static 'radio-plus.svg' %}"
               width="50px"
               height="50px"
               alt="radio icon plus" />
          <h2 class="text-3xl">Drag Question Here To Start Building Your Survey</h2>
          <p class="text-gray-500">Your survey questions will appear here as you add them from the library.</p>
          <button type="button" class="btn btn-primary" onclick="add_question_modal.showModal()">Add Question</button>
     </div>
</div>
