{% load static %}
{% load i18n %}
<div class="bg-white shadow-xs card w-full border-2 border-dashed border-gray-200 transition-colors duration-200"
     id="question_container_add"
     :class="{ 'border-primary bg-gray-50': isDragging }">
     <div class="card-body p-8 md:p-12 flex flex-col items-center justify-center space-y-4 text-center"
          @dragover.prevent
          :class="{ 'opacity-50': isDragging }"
          hx-post="{% url 'add_question' %}"
          hx-trigger="add-question"
          @drop.prevent="$el._questionType = event.dataTransfer.getData('text/plain');
                         incrementTotalForms();
                         htmx.trigger($el, 'add-question')"
          hx-target="#target_question"
          hx-swap="beforebegin"
          hx-vals="js:{ question_type: this._questionType,  question_count_position: document.querySelector('#id_questions-TOTAL_FORMS').value }">
          
          <img src="{% static 'radio-plus.svg' %}"
               class="w-16 h-16 opacity-60 mb-2"
               alt="Add question icon" />
               
          <h2 class="text-xl md:text-2xl font-bold text-gray-800">
            <span class="hidden lg:inline">{% trans "Drag Question Here To Start" %}</span>
            <span class="lg:hidden">{% trans "Add New Question" %}</span>
          </h2>
          
          <p class="text-gray-500 max-w-prose">
            <span class="hidden lg:inline">{% trans "Drag a question type from the library or click below to add one manually." %}</span>
            <span class="lg:hidden">{% trans "Tap the button below to select a question type." %}</span>
          </p>
          
          <button type="button" class="btn btn-primary btn-wide" onclick="add_question_modal.showModal()">
            <i class="fa-solid fa-plus"></i> {% trans "Add Question" %}
          </button>
     </div>
</div>
