<dialog id="my_modal_1" class="modal">
    <div class="modal-box">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <h3 class="text-lg font-bold">Create New File</h3>
        <label for="input" class="label mt-6">Please Enter Folder Name :</label>
        <input id="input"
               name="filename"
               type="text"
               placeholder="Type here"
               class="input input-ghost mt-2 border border-stone-400" />
        <div class="modal-action">
            <button class="btn btn-primary"
                    hx-post="{% url 'CreateSubFile' %}"
                    hx-target="#Folder"
                    hx-include="#input"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    onclick="my_modal_1.close()">Save</button>
            <button class="btn" onclick="my_modal_1.close()">Close</button>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
