{% load static %}
<li>
    <div id="folder"
         class="menu-title flex items-center justify-between ml-4 max-w-70 gap-4">
        <img src="{% static 'openFolder.svg' %}"
             alt="folder"
             width="20"
             height="20">
        <label class="text-stone-700">{{ filename }}</label>
        {% comment %} Drop Down {% endcomment %}
        <div class="dropdown dropdown-end">
            <div tabindex="0" class="m-1">
                <img src="{% static 'threedots.svg' %}"
                     alt="threedots"
                     width="20"
                     height="20"
                     class="hover:cursor-pointer hover:bg-stone-600 rounded-full m-2">
            </div>
            <ul tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box p-2 shadow-sm z-1">
                <li>
                    <a>Rename</a>
                </li>
                <hr>
                <li>
                    <a>Delete</a>
                </li>
            </ul>
        </div>
    </div>
</li>
{% comment %} For Adding Folder using HTMX {% endcomment %}
<div id="Folder"></div>
