{% comment %} 
    context = {'survey': survey}
{% endcomment %}
<tr class="border-b" id="survey-row-{{ survey.uuid }}">
    <th scope="row" class="px-4 py-3 font-medium text-gray-600">{{ survey.title }}</th>
    <td class="mx-4 my-3 line-clamp-3">{{ survey.description }}</td>
    <td class="px-2 py-3 rounded-full text-center">
        <span id="survey-table-status-{{ survey.uuid }}" class="rounded-full px-4 py-2 {{ survey.status_badge_class }} ">{{ survey.state }}</span>
    </td>
    <!-- TODO -->
    <td class="px-4 py-3 text-center">{{ survey.response_count }}</td>
    <td class="px-4 py-3 text-center">{{ survey.last_updated|date:"SHORT_DATETIME_FORMAT" }}</td>
    <!-- Dropdown menu -->
    <td class="px-4 py-3 tex" x-data="{ open: false }">
        <div class="dropdown dropdown-left dropdown-center">
            <!-- 2. The trigger button needs a tabindex -->
            <div tabindex="0"
                 role="button"
                 class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none">
                <svg class="w-5 h-5"
                     aria-hidden="true"
                     fill="currentColor"
                     viewbox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                </svg>
            </div>
            <!-- 3. The dropdown content itself. Note the new classes. -->
            <ul tabindex="0"
                class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-44">
                <li>
                    <a href="{% url 'SurveyResponseDetail' survey.uuid %}">Show Responses</a>
                </li>
                <li>
                    <a href="{% url 'SurveyPreview' survey.uuid %}" target="_blank" rel="noopener noreferrer">Preview</a>
                </li>
                <li id="edit-survey-link-{{ survey.uuid }}">
                    <a href="{% url 'EditSurvey' survey.uuid %}" {% if survey.state == 'published' %}class="text-gray-400 pointer-events-none"{% endif %}>Edit</a>
                </li>
                <li>
                    <a href="{% url 'Copy' survey.uuid %}" >Copy</a>
                </li>
                <div class="divider my-0"></div>
                <li >
                    <button hx-post="{% url 'ToggleSurveyStatus' survey.uuid %}" hx-swap="outerHTML" >
                        {% if survey.state == 'published' %}End Survey{% else %}Begin Survey{% endif %}
                    </button>
                </li>
                <li>
                    <a class="text-red-500 hover:bg-red-50"
                        href="#"
                        hx-get="{% url 'DeleteSurveyConfirmModal' survey.uuid %}"
                        hx-target="#modal-container"
                        hx-swap="innerHTML">
                        Delete
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>
