{% comment %} context = { 'page': page, 'query': query, # the search query if
any 'recently_viewed': recently_viewed, # list of recently viewed items }
{%endcomment %}
<div class="w-full px-4">
  <!-- Start coding here -->
  <div
    class="bg-white shadow-lg border border-gray-200 relative sm:rounded-lg overflow-hidden w-full"
  >
    <!-- header bar -->
    <div
      class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4"
    >
      <!-- searh bar-->
      <div class="w-full md:w-1/2 flex">
        <form class="w-3/4 flex items-center" onsubmit="return false;">
          <label for="simple-search" class="sr-only">Search</label>
          <div class="relative w-full">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-gray-500"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              type="text"
              name="search"
              value="{{ query|default:'' }}"
              hx-get="{% url 'Dashboard' %}"
              hx-trigger="keyup changed delay:500ms "
              hx-target=".survey-table-body"
              hx-indicator="#htmx-spinner"
              id="simple-search"
              class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2"
              placeholder="Search"
            />
          </div>
        </form>
        <span
          id="htmx-spinner"
          class="htmx-indicator loading loading-spinner text-primary loading-lg"
        ></span>
      </div>
      <!-- buttons -->
      <div
        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0"
      >
        <div class="flex items-center space-x-3 w-full md:w-auto">
          <!-- filter dropdown -->
          <button
            id="actionsDropdownButton"
            data-dropdown-toggle="actionsDropdown"
            class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
            type="button"
          >
            <svg
              class="-ml-1 mr-1.5 w-5 h-5"
              fill="currentColor"
              viewbox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                clip-rule="evenodd"
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              />
            </svg>
            Actions
          </button>
          <div
            id="actionsDropdown"
            class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow"
          >
            <ul
              class="py-1 text-sm text-gray-700"
              aria-labelledby="actionsDropdownButton"
            >
              <li>
                <a href="#" class="block py-2 px-4 hover:bg-gray-100"
                  >Mass Edit</a
                >
              </li>
            </ul>
            <div class="py-1">
              <a
                href="#"
                class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100"
                >Delete all</a
              >
            </div>
          </div>
          <div x-data="{ open: false }">
            <button
              id="filterDropdownButton"
              @click="open = !open"
              data-dropdown-toggle="filterDropdown"
              class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
              type="button"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                class="h-4 w-4 mr-2 text-gray-400"
                viewbox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                  clip-rule="evenodd"
                />
              </svg>
              Filter
              <svg
                class="-mr-1 ml-1.5 w-5 h-5"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <path
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                />
              </svg>
            </button>
          </div>
          <!-- TODO Add filter dropdown-->
        </div>
      </div>
    </div>
    <!-- Table Content-->
    <div class="overflow-x-visible relative">
      <table class="w-full text-sm text-left text-gray-500 table-fixed">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-4 py-3 w-[18%]">Title</th>
            <th scope="col" class="px-4 py-3 w-[35%]">Description</th>
            <th scope="col" class="px-4 py-3 w-[10%]">Status</th>
            <th scope="col" class="px-4 py-3 w-[12%]">Responses</th>
            <th scope="col" class="px-4 py-3 w-[15%]">Last Updated</th>
            <th scope="col" class="px-4 py-3 w-[10%]">Actions</th>
          </tr>
        </thead>
        <tbody id="htmx-spinner survey-table-body" class="survey-table-body">
          <!-- to use the get_surveys filter -->
          {% load survey_extras %} 
          {% for survey in page|get_surveys %} 
          {%include "partials/Dashboard/tableRow.html" with survey=survey %} 
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Footer -->
    <nav
      aria-label="Table navigation"
      id="pagination-controls"
      hx-swap-oob="true"
    >
      {% include "partials/Dashboard/pagination.html" %}
    </nav>
  </div>
  <div id="koko" class="w-full h-fit"></div>
</div>
