{% comment %} context = { 'page': page, 'query': query, # the search query if
any 'recently_viewed': recently_viewed, # list of recently viewed items }
{%endcomment %}
<div class="w-full">
  <!-- Start coding here -->
  <div
    class="bg-white shadow-sm hover:shadow-md transition-shadow duration-300 border border-slate-200 relative sm:rounded-xl overflow-hidden w-full"
  >
    <!-- header bar -->
    {% include "partials/table_filters.html" with filter_url="Dashboard" filter_target=".survey-table-body" filter_form_id="dashboard-filter-form" show_dashboard_actions=True %}
    <!-- Table Content-->
    <div class="overflow-x-visible relative">
      <table class="w-full text-sm text-left text-gray-500 table-fixed">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-4 py-3 w-[20%]">Title</th>
            <th scope="col" class="px-4 py-3 w-[45%]">Description</th>
            <th scope="col" class="px-4 py-3 w-[10%] text-center">Status</th>
            <th scope="col" class="px-4 py-3 w-[10%] text-center">Responses</th>
            <th scope="col" class="px-4 py-3 w-[15%] text-center">Last Updated</th>
            <th scope="col" class="px-4 py-3 w-[10%] text-center">Actions</th>
          </tr>
        </thead>
        <tbody id="htmx-spinner survey-table-body" class="survey-table-body">
          <!-- to use the get_surveys filter -->
          {% load survey_extras %} 
          {% for survey in page|get_surveys %} 
            {%include "partials/Dashboard/tableRow.html" with survey=survey %} 
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Footer -->
    <nav
      aria-label="Table navigation"
      id="pagination-controls"
      hx-swap-oob="true"
    >
      {% include "partials/Dashboard/pagination.html" %}
    </nav>
  </div>
  <div id="koko" class="w-full h-fit"></div>
</div>
