{% load i18n %}
<!-- Table -->
<div class="overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 pb-7">
      <tr>
        <th scope="col" class="px-4 py-3 w-[18%] text-center">{% trans "Title" %}</th>
        <th scope="col" class="px-4 py-3 w-[32%] text-center">{% trans "Description" %}</th>
        <th scope="col" class="px-8 py-3 w-[10%] text-center">{% trans "Status" %}</th>
        <th scope="col" class="px-4 py-3 w-[15%] text-center">{% trans "Responses" %}</th>
        <th scope="col" class="px-4 py-3 w-[15%] text-center">{% trans "Last Updated" %}</th>
        <th scope="col" class="text-center">{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody
      id="responses-table-body"
      class="responses-table-body divide-y divide-gray-200"
    >
      {% include "partials/Responses/responses_table_with_oob.html" %}
    </tbody>
  </table>
</div>

<!-- Pagination -->
{% include "partials/Responses/responses_pagination.html" %}
