{% extends "base.html" %}
{% include "partials/navbar.html" %}
{% block content %}
    {% comment %} post request in the viwe i use  "request.POST.get('question_count')" {% endcomment %}
    <form class="flex flex-row gap-4" method="POST" action="{% url 'CreateSurvey' %}"
          id="survey-form"
          x-data="questionManager()"
          @move-question="moveQuestion($event.detail.btn, $event.detail.direction)"
          @keydown.enter.prevent
          @htmx:after-swap.camel="setTimeout(() => { updateQuestionOrder() }, 10)"> 
        {% csrf_token %}
        {{ Question_formset.management_form }}
        <div class="sticky top-6 self-start flex flex-col gap-4 m-4 rounded-b-lg  w-[20%]">
            <div class="bg-white shadow-md border card border-gray-200 w-full ">
                <div class="card-body">
                    <h2 class="text-2xl"> Create new survey</h2>
                    <label for="{{ form.title.id_for_label }}" class="text-gray-500">survey name</label>
                    {{ form.title }}
                    <label for="{{ form.description.id_for_label }}" class="text-gray-500 mt-2.5 ">Description</label>
                    {{ form.description }}
                </div>
            </div>
            <div>{% include "partials/Create_survey/question_Library_card.html" %}</div>
        </div>
        {% comment %} middle Survey questions th adrag and drop machnism {% endcomment %}
        <div class="flex flex-col gap-4 m-4 mx-0 md:w-[60%] lg:w-[75%]" id="question_container" x-auto-animate>
            {% for f in Question_formset.forms %}
                {% if f.DELETE.value %}
                    <div style="display: none;">
                        {{ f.id }}
                        {{ f.DELETE }} 
                        {# Render hidden fields to maintain index integrity #}
                        {% for hidden in f.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </div>
                {% else %}
                {% with form=f %}
                    {% if f.question_type.value == 'Multi-Choice Question'%}
                        {% include "partials/Create_survey/Questions/Multi-Choice_Question.html" %}
                    {% endif %}
                    {% if f.question_type.value == 'Likert Question' %}
                        {% include "partials/Create_survey/Questions/Likert_Question.html" %}
                    {% endif %}
                    {% if f.question_type.value == 'Matrix Question' %}
                        {% include "partials/Create_survey/Questions/Matrix_Question.html" %}
                    {% endif %}
                    {% if f.question_type.value == 'Rating Question' %}
                        {% include "partials/Create_survey/Questions/Rating_Question.html" %}
                    {% endif %}
                    {% if f.question_type.value == 'Ranking Question' %}
                        {% include "partials/Create_survey/Questions/Ranking_Question.html" %}
                    {% endif %}
                {% endwith %}
                {% endif %}
            {% endfor %}            
            <div id="target_question" hidden class="flex flex-col gap-3 p-4"></div>
            {% include "partials/Create_survey/question_container_card.html" %}
        </div>
        {% comment %} right side  settings {% endcomment %}
        <div class="sticky top-6 self-start flex flex-col gap-4 m-4 rounded-b-lg  w-[20%] h-fit">
            <div class="bg-white shadow-md border card border-gray-200">
                <div class="card-body">
                    <p class="font-medium text-base">Settings</p>
                    <div class="flex flex-row gap-2 ml-1.5">
                        <p>Shuffle questions</p>
                        {{ form.shuffle_questions }}
                    </div>
                    <div class="flex flex-row gap-2 ml-1.5">
                        <p>anonymous responses</p>
                        {{ form.anonymous_responses }}
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" id="save-survey" class="right-4 bottom-4 btn btn-primary fixed" value="Save Survey">
    </form>
{% endblock content %}
