{% extends "base.html" %}
{% include "partials/navbar.html" %}
{% block content %}
<div x-data="questionManager()" 
     @move-question="moveQuestion($event.detail.btn, $event.detail.direction)"
     @htmx:after-swap.camel="setTimeout(() => { updateQuestionOrder() }, 10)">
    
    {% comment %} post request in the viwe i use  "request.POST.get('question_count')" {% endcomment %}
    <form class="grid grid-cols-1 lg:grid-cols-12 gap-6 p-4 max-w-[1600px] mx-auto" method="POST" action="{{ form_action_url|default:'' }}"
          id="survey-form"
          @keydown.enter.prevent> 
        {% csrf_token %}
        {{ Question_formset.management_form }}

        <!-- Left Sidebar: Survey Info & Library -->
        <div class="lg:col-span-3 space-y-6 lg:sticky lg:top-4 h-fit">
                        <div class="bg-white shadow-md border card border-gray-200">
                <div class="card-body p-6">
                    <h2 class="text-2xl">Create New Survey</h2>

                    <div class="flex flex-col gap-4">
                        <div class="form-control w-full">
                            <label for="{{ form.title.id_for_label }}" class="label">
                                <span class="text-gray-500">Survey Name</span>
                            </label>
                            {{ form.title }}
                        </div>
                        
                        <div class="form-control w-full">
                            <label for="{{ form.description.id_for_label }}" class="label">
                                <span class="text-gray-500 text-base">Description</span>
                            </label>
                            {{ form.description }}
                        </div>

                        <div class="divider my-0"></div>

                        <div class="flex flex-col">
                            <p class="font-medium text-base mb-2 text-gray-500">Settings</p>
                            
                            <div class="form-control my-1">
                                <label class="label cursor-pointer justify-start gap-3">
                                    {{ form.shuffle_questions }}
                                    <span class="label-text">Shuffle Questions</span>
                                </label>
                            </div>

                            <div class="form-control my-1">
                                <label class="label cursor-pointer justify-start gap-3">
                                    {{ form.anonymous_responses }}
                                    <span class="label-text">Anonymous Responses</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Draggable Library (Hidden on Mobile) -->
            <div class="hidden lg:block">
                {% include "partials/Create_survey/question_Library_card.html" %}
            </div>
        </div>

        <!-- Middle Column: Questions List -->
        <div class="lg:col-span-9 space-y-6" id="question_container" x-auto-animate>
            {% for f in Question_formset.forms %}
                {% if f.DELETE.value %}
                    <div style="display: none;">
                        {{ f.id }}
                        {{ f.DELETE }} 
                        {# Render hidden fields to maintain index integrity #}
                        {% for hidden in f.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </div>
                {% else %}
                {% with form=f %}
                    {% for hidden in f.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {{ f.id }}
                    {% if f.question_type.value == 'Multi-Choice Question'%}
                        {% include "partials/Create_survey/Questions/Multi-Choice_Question.html" %}
                    {% endif %}
                    {% if f.question_type.value == 'Likert Question' %}
                        {% include "partials/Create_survey/Questions/Likert_Question.html" %}
                    {% endif %}
                    {% if f.question_type.value == 'Matrix Question' %}
                        {% include "partials/Create_survey/Questions/Matrix_Question.html" %}
                    {% endif %}
                    {% if f.question_type.value == 'Rating Question' %}
                        {% include "partials/Create_survey/Questions/Rating_Question.html" %}
                    {% endif %}
                    {% if f.question_type.value == 'Ranking Question' %}
                        {% include "partials/Create_survey/Questions/Ranking_Question.html" %}
                    {% endif %}
                    {% if f.question_type.value == 'Text Question' %}
                        {% include "partials/Create_survey/Questions/Text_Question.html" %}
                    {% endif %}
                    {% if f.question_type.value == 'Section Header' %}
                        {% include "partials/Create_survey/Questions/Section_Header.html" %}
                    {% endif %}
                {% endwith %}
                {% endif %}
            {% endfor %}            
            <div id="target_question" hidden class="flex flex-col gap-3"></div>
            {% include "partials/Create_survey/question_container_card.html" %}
        </div>

        <!-- Floating Save Button -->
        <div class="fixed bottom-6 right-6 z-50">
            <button type="submit" name="action" value="draft" class="btn btn-neutral shadow-xl rounded-full px-6 gap-2 font-bold uppercase tracking-wide">
                <i class="fa-solid fa-floppy-disk"></i> Save Draft
            </button>
        </div>
        
    </form>
    {% include "partials/Create_survey/add_question_modal.html" %}
</div>
{% endblock content %}
