{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto p-6">
    <!-- Header -->
    <div class="mb-8">
        <h1 class="text-3xl font-bold text-gray-800">Survey Responses</h1>
    </div>

    

    <!-- Recent Surveys with Responses -->
    <div class="mb-6">
        <h2 class="text-xl font-semibold mb-4">Recent Surveys with Responses</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4">
            {% for survey in recent_surveys %}
                {% include "partials/Responses/survey_response_card.html" with survey=survey %}
            {% empty %}
                <div class="col-span-full text-center py-8 text-gray-500">
                    No surveys with responses yet
                </div>
            {% endfor %}
        </div>
    </div>

    
    <!-- All Surveys Table -->
    <div class="bg-white shadow-lg border border-gray-200 rounded-lg overflow-hidden mt-4">
        {% include "partials/Responses/responses_table_body.html" %}
    </div>
</div>
{% endblock content %}